.main-outer {
  // height: 100%;
  // width: 50%;
  // float: left;
  // overflow: hidden;
  // position: relative;
  padding-left: $queue-width;
  padding-right: $connected-width;
}

.room-outer {
  // height: 100%;
  // position: absolute;
  // width: 100%;
}

.room-inner {
  // position: absolute;
  // padding-bottom: 51px;
  // bottom: 0;
}

.container-room {
  padding-top: 40px;

  &-inner {

  }
}

.connected-header {
  @include header;
}

.connected-outer {
  position: fixed;
  width: $connected-width;
  right: 0;
  text-align: right;
  padding: 10px;
  top: $navbar-height;
  height: calc(100vh - $navbar-height);
}


.message-outer {
  // font-size: 20px;
}

.message-user {
  // font-weight: 600;
  &:after {
    // content: ':'
  }
}

.message-text {
  // font-weight: 300;
}

// .message-separator:before {
//   content: ':'
// }
//
// .input-outer {
//   clear: both;
//   height: 51px;
//   // padding-left: 25%;
//   bottom: 0;
//   position: absolute;
//   z-index: 40;
//   form {
//     position: relative;
//   }
//   form, form input{
//     height: 100%;
//     width: 100%;
//   }
//   form input {
//     border: 0;
//     width: 100%;
//     padding-left: 80px;
//     display: block;
//   }
//   form span {
//     position: absolute;
//     width: 80px;
//     padding-top: 15px;
//     height: 100%;
//     display: block;
//   }
// }
