<div ng-cloak ng-include="'components/navbar/navbar.html'"></div>

<div class="container-fluid container-room">
  <div class="container-room-inner">
    <div class="queue-wrapper">
      <div player class="player-outer"></div>
      <div class="queue-outer" ng-include="'components/queue/queue.html'"></div>
    </div>

    <div class="main-outer">

<!--       <div class="room-outer">
        <div class="room-inner">
          <div class="message-outer" ng-repeat="message in messages">
            <span class="message-user">{{message.user.name}}</span>
            <span class="message-separator"></span>
            <span class="message-text">{{message.text}}</span>
          </div>
        </div>
        <div class="input-outer">
          <form novalidate ng-submit="cutMessage()">
            <span>type: -></span><input auto-focus="true" type="text" ng-change="sendMessage()" ng-model="newMessage.text">
          </form>
        </div>
      </div> -->


      <div class="search-results-outer" ui-view></div>
    </div>


    <div class="connected-outer">
      <div class="connected-header">connected</div>
      <div class="connected-user" ng-repeat="user in usersList()">
        {{user.name}}
      </div>
    </div>



  </div>
</div>

