<div class="search-input" ng-controller="SearchInputCtrl">
  <form novalidate ng-submit="search(q)">
    <input placeholder="searchitup" type="text" ng-change="suggest()" ng-model="q" ng-focus="$root.searching = true">
  </form>
  <!-- <div class="suggestion-outer">
    <div class="suggestion" ng-repeat="suggestion in suggestions" ng-click="addToQueue(suggestion)">
      <strong>{{suggestion.artist}}</strong> // {{suggestion.name}}
    </div>
  </div> -->
</div>
