.search-input {
  // margin-top: 13px;
  // position: relative;
}

.search-header {
  @include header;
  // position: absolute;
  // background-color: white;
  // z-index: 600;

}

.search-outer {
  // position: relative;
  // float: left;
}

.suggestion-outer {
  // position: absolute;
  // z-index: 900;
  // background-color: black;
  // color: white;
}

.suggestion {
  // padding: 10px;
  // cursor: pointer;
  // white-space: nowrap;
  &, & strong {
    // color: white;
  }
  &:hover, &:hover strong {
    // background-color: white;
    // color: black;
  }
}

input {
  // border-radius: 0;
  // outline: none;
  // border: 0;
  // padding: 3px 6px;
}

input:focus {
  // border: 0;
  // background-color: black;
  // color: white;
}

.search-results-outer {
  padding: 10px 0;
  padding-bottom: 50vh;
  // height: 100%;
  // width: 100%;
  // overflow-y: scroll;
  // position: absolute;
  // z-index: 300;
  // background-color: rgba(255,255,255,0.9);
  // padding-top: 25px;
}

.search-result {
  // cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;

}

.search-result-artist {
  @include header;
}

.search-result-track {
  padding: 5px 0;
  cursor: pointer;
  &:hover {
    .search-results-track-name:after {
      content: " +";
      font-weight: $serif-bold;
    }
  }
  // vertical-align: middle;
  @include clearfix;

}

.search-result-message {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.search-result-album-art {
  width: 30px;
  display: block;
  float: left;
  // vertical-align: inherit;
}
.search-result-track-name {
  display: block;
  padding-left: 40px;
  padding-top: 5px;
  &:hover:after {
    content: " +";
  }
}





