
<div class="search-results">
  <div class="search-header">
    searchies
  </div>
  <div ng-show="results.grouped.length == 0" class="search-result-message">
    comon now. let's find some mursic.
  </div>


  <div class="search-result" ng-repeat="result in results.grouped">
    <div class="search-result-artist">{{result.artist}}</div>
    <div class="search-result-track" ng-repeat="track in result.tracks" ng-click="addToQueue(track)">
    <img class="search-result-album-art" ng-src="{{track.icon}}"><div class="search-result-track-name">{{track.name}}</div>
    </div>
  </div>
  <div class="search-result-message">
    <a ng-show="results.raw.length > 0 && results.raw.length < numberResults"
    class="more" ng-click="more()">More</a>

  </div>

  <div ng-show="results.raw.length != 0 && numberResults == results.raw.length"
    class="search-result-message">
    yr all searched out breh.
  </div>

  <div ng-show="loading" class="search-result-message loading">
    <i class="fa-circle-o-notch fa-spin fa fa-2x"></i>
  </div>
</div>
