<div bg-scroll class="navbar" ng-controller="NavbarCtrl">

    <div class="navbar-header">
      <ul>
        <li>
          <a href="/" class="navbar-brand">svper</a>
        </li>
        <li>
          <span ng-show="isLoggedIn() && !!room"
            class="navbar-text">
            /r/<strong>{{room.slug}}</strong>
          </span>
        </li>
      </ul>

    </div>

    <div class="navbar-search" ng-show="isLoggedIn() && !!room" class="search-outer"
      ng-include="'components/search/search-input.html'">
    </div>

    <div class="navbar-links">
      <ul>
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}">
          <a href="/admin">Admin</a>
        </li>

        <li ng-show="isLoggedIn()">
          <span>hello <strong>{{ getCurrentUser().name }}</strong></span>
        </li>

        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}">
          <a href="" ng-click="logout()">logout</a>
        </li>

        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"
          ng-controller="LoginCtrl">
          <a href="" ng-click="loginOauth('rdio')">login/signup</a>
        </li>
      </ul>
    </div>


      <!-- <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}">
          <a href="/settings"><span class="glyphicon glyphicon-cog"></span></a>
        </li> -->
      <!-- <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}">
        <a href="/signup">Sign up</a>
      </li> -->

</div>
