.navbar-brand {
  // font-weight: 700;
}
.navbar-text {
  // float: left;
}
.navbar {
  // margin: 0;
  // position: absolute;
  // width: 100%;
  // z-index: 400;
}

.navbar {
  z-index: 1000;
  padding: 0;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  @include bg-scroll;
  color: white;
  @include clearfix;
  a {
    color: white;
    text-decoration: none;
  }

  > * {
    float: left;
  }
  * {
    font-family: $serif-fam;
    font-weight: $serif-light;
    // text-transform: uppercase;
  }

  &-header {
    float: left;
    position: relative;
    z-index: 1001;
  }

  ul {
    li {
      float: left;
      @include clearfix;
      a, span {
        display: block;
        padding: 12px;
      }
    }
  }

  &-links {
    float: right;
    position: relative;
    z-index: 1001;
  }

  &-search {
    float: left;
    position: relative;
    z-index: 1005;
    width: 300px;
    // margin: 0 auto;
    // float: none;
    position: relative;
    z-index: 1001;
    // top: 0;
    .search-input {
      padding: 8px;
      position: absolute;
      width: 100%;
      input {
        padding: 3px 6px 3px;
        outline: 0;
        border: 0;
        width: 100%;
        text-align: left;
        font-size: 16px;
        font-weight: $serif-light;
        // font-size: 100%;
        // font-family:
        color: white;
        // display: inline-block;
        // vertical-align: middle;
        background-color: rgba(255,255,255,0.3);
        transition: all 300ms;
        &:focus {
          background-color: rgba(255,255,255,0.8);
          color: black;
          @include placeholder {
            color: black;
          }
        }
        @include placeholder {
          transition: color 300ms;
          color: white;
          padding: 2px 0 0 0;
          // padding: 4px 6px 2px;
        }
      }

    }
  }
}

