
@mixin bg-clip {
  // -webkit-background-clip: text;
  // vertical-align: text-top;
  // color: transparent;
}


.main-container {
  padding-top: 100px;
  width: 550px;
  margin: 0 auto;
  padding-bottom: 20vh;
  @include clearfix;
  h1 {
    font-size: 150px;
    // font-family: $san-fam;
    font-family: 'Montserrat', 'Helvetica';
    font-weight: $san-lighter;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 0.72em;
    text-align: center;
    padding: 40px 10px;
    @include bg-clip;
    // @include bg-scroll;
  }
  .cta {
    padding: 0 25px;
    @include clearfix;
    h2 {
      font-size: 30px;
      padding-bottom: 15px;
      display: block;
      font-weight: $serif-bold;
      line-height: 1.2em;
    }
  }

  .join-room, .create-room {
    width: 50%;
    float: left;
    text-align: left;
    overflow: hidden;
  }

  .create-field {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    &-input {

    }

    &-submit {
      height: 100%;
      display: block;
      button {
        display: block;
        height: 100%;
      }
    }
  }

  .create-room {


    h2 {
      // text-align: right;
      // padding-bottom: 15px;
      // display: block;
    }
  }
}
