<div ng-cloak ng-include="'components/navbar/navbar.html'"></div>

<header class="main-container">
  <h1 bg-scroll>svper</h1>

  <div class="cta">
    <div ng-show="!isLoggedIn()" ng-include="'app/account/login/login.html'"></div>
    <div ng-show="isLoggedIn()" class="join-room">
      <h2>join</h2>
      <ul>
        <li ng-repeat="room in rooms">
          <a href="/r/{{room.slug}}/search">{{room.name}}</a>
        </li>
      </ul>
    </div>

    <div ng-show="isLoggedIn()" class="create-room">
      <h2>create</h2>

      <form name="create"
        novalidate
        ng-submit="createRoom(create)"
        ng-disabled="!!create.$pending || !!create.$error">
        <div class="create-field bg-scroll">
          <div class="create-field-input">
            <input type="text"
              ng-change="errors.mongoose = {}"
              name="roomName"
              ng-model="roomName"
              room-name-validator
              ng-minlength="3"
              ng-required>
          </div>
          <div class="create-field-submit">
            <button class="button" type="submit"
            ng-disabled="!!create.$invalid">
              <i class="fa fa-plus fa-fw"></i>
            </button>
          </div>
        </div>

        <div class="unavailable"
          ng-show="create.roomName.$dirty && create.roomName.$error.roomNameAvailability">
          name is taken :/
        </div>
        <div ng-show="errors" ng-repeat="(error, obj) in errors.mongoose">
          {{obj.message}}
        </div>

      </form>
    </div>
  </div>
</header>

