.queue-outer {
  padding: 10px 0;
}

.queue-header {
  @include header;
}

.queue-wrapper {
  width: $queue-width;
  position: fixed;
  background: white;
  padding: 10px;
  top: $navbar-height;
  height: calc(100vh - 40px);
}

.queue-outer {
  // padding-top: 25px;
}
.queue-now-playing {
  height: 69px;
  width: 100%;
  @include clearfix;
  &-album-art {
    width: 30%;
    float: left;
  }

  &-meta {
    width: 70%;
    padding-left: 10px;
    float: left;
  }

  &-artist {
    font-weight: $serif-bold;
  }

  &-artist,
  // &-track,
  &-position,
  &-state {
    width: 100%;
    padding: 2px 0;
    @include nowrap;
  }
}
.queue-item {
  @include clearfix;
  padding-bottom: 10px;
}

.queue-album-art {
  width: 15%;
  float: left;
}

.queue-meta {
  width: 85%;
  float: left;
  padding-left: 10px;
}

.queue {
  &-artist {
    font-weight: $serif-bold;

  }
  &-artis,
  &-track {
    width: 100%;
    padding: 2px 0;
    @include nowrap;
  }
}
