

<div class="queue-controller" ng-controller="QueueCtrl">

  <div class="queue-now-playing" ng-show="!isCurrentTrackOver()">
    <img class="queue-now-playing-album-art" ng-src="{{metaTrack.icon}}" alt="">
    <div class="queue-now-playing-meta">
      <div class="queue-now-playing-artist">{{metaTrack.artist}}</div>
      <div class="queue-now-playing-track">{{metaTrack.name}}</div>
    </div>

  </div>

  <div ng-show="isQueueingNextTrack()" class="queue-track-is-over">
    queueing up next track
  </div>

  <div ng-show="isQueueExhausted()" class="queue-track-is-over">
    no more songs to play
  </div>

  <div class="queue-header">comin up</div>
  <div ng-show="unplayed.length == 0">
    no tracks in <br>the queue
  </div>
  <div class="queue-item"
    ng-repeat="track in unplayed track by $index"
    ng-click="removeFromQueue(track)">
    <img class="queue-album-art" ng-src="{{track.icon}}" alt="">
    <div class="queue-meta">
      <div class="queue-artist">{{track.artist}}</div>
      <div class="queue-track">{{track.name}}</div>
    </div>
  </div>
</div>
