<div class="player">
  <div class="player-header">
    <i
      class="fa"
      ng-class="{
        'fa-circle-o-notch': state == 'playing',
        'fa-spin': state != 'stopped' && state != 'paused',
        'fa-stop': state == 'stopped',
        'fa-spinner': state != 'playing' && state != 'stopped'
      }">
    </i>
    <a href=""
      ng-click="muted = !muted">
      <i class="fa" ng-class="{'fa-volume-off': muted, 'fa-volume-up': !muted}"></i>
    </a>
    <div class="player-position">
      <div ng-class="{'hidden': state != 'playing'}" class="player-position-fill"
        ng-style="{'width': 100 - percentPosition + '0%'}"></div>
    </div>
  </div>
  <!-- <div>
    <img class="player-album-art" ng-src="{{track.icon}}" alt="">
    <div class="player-meta">
      <div class="player-artist">{{track.artist}}</div>
      <div class="player-track">{{track.name}}</div>

      <div class="player-state">
        </div>

    </div>
  </div>
 -->

</div>
