.player {

  @include clearfix;
  &-outer {
    @include clearfix;
  }

  &-header {
    @include header;
    font-size: 19px;
    padding-bottom: 0px;
  }

  &-album-art {
    width: 30%;
    float: left;
  }

  &-meta {
    width: 70%;
    padding-left: 10px;
    float: left;
  }

  &-artist {
    font-weight: $serif-bold;
  }

  &-artist,
  &-track,
  &-position,
  &-state {
    width: 100%;
    padding: 2px 0;
    @include nowrap;
  }

  &-position {

    background-color: black;
    position: relative;
    padding: 0;
    margin-top: 10px;
    background-size: cover;
    background-position: center center;
    height: 4px;

    &.hidden {
      visibility: hidden;
    }
  }
  &-position-fill {
    position: absolute;
    right: 0;
    height: 100%;
    background-color: rgba(255,255,255,0.85);
    transition: width 1000ms;
    // @include bg-scroll;

    // background-attachment: fixed;
  }
}

#player {
  position: absolute;
  bottom: 0;
  text-indent: -9999;
  left: -9999px;
}
