// @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//fonts.googleapis.com/css?family=Source+Code+Pro:400,200,300,500,600,700,900);

$bg-path: "/assets/images/space.jpg";

$queue-width: 250px;
$connected-width: 250px;
$navbar-height: 40px;

$serif-fam: 'Source Code Pro', 'Courier', monospaced;
$serif-bolder: 600;
$serif-bold: 500;
$serif-regular: 400;
$serif-light: 300;
$serif-lighter: 200;

$san-fam: 'Roboto', Helvetica sanserif;
$san-boldest: 900;
$san-bolder: 700;
$san-bold: 500;
$san-regular: 400;
$san-light: 300;
$san-lighter: 200;

// Roboto:200,300,400,500,700,900,200i,300i,400i,500i,700i,900i
// Source+Code+Pro:200,300,400,500,600,700,900

/**
 * App-wide Styles
 */
html, body, * {
  font-family: $serif-fam;
  font-weight: $serif-light;
  font-size: 100%;
  line-height: 100%;
  // background-color: blue;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}


@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}


@mixin placeholder {
  &::-webkit-input-placeholder {
     @content;
  }

  &:-moz-placeholder { /* Firefox 18- */
     @content;
  }

  &::-moz-placeholder {  /* Firefox 19+ */
     @content;
  }

  &:-ms-input-placeholder {
     @content;
  }
}

@mixin nowrap {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

@mixin header {
  padding: 10px 0 10px;
  font-weight: $serif-bold;
}

@mixin bg-scroll {
  background-image: url(/assets/images/sky-forest.jpg);
  background-image: url($bg-path);
  background-position: center 0;
  background-size: auto 100vw;
}

@mixin button {
  // @include bg-scroll;
  background-color: transparent;
}

.button {
  @include button;
  color: white;
  border: 0;
  outline: 0;
  padding: 12px 10px;
  font-family: $serif-fam;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  &:after {
    transition: all 200ms;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    content: '';
    background-color: rgba(255,255,255,0.0);
  }
  &[disabled] {
    &:after {
      background-color: rgba(255,255,255,0.7);
      cursor: not-allowed;
    }

  }
}

input {
  &[type=text],
  &[type=email],
  &[type=search],
  &[type=url],
  &[type=tel],
  &[type=number] {
    padding: 10px;
    outline: 0;
    border: 0;
    width: 100%;
    text-align: left;
    font-size: 16px;
    color: white;
    // @include bg-scroll;
    font-family: $serif-fam;
    font-weight: $serif-regular;
    background-color: transparent;
    display: block;
  }
}

.bg-scroll {
  @include bg-scroll;
}

